<!-- templates/fragments/auth-card.html -->
<div th:fragment="authCard(title,buttonText,action)">

    <div class="card login-card p-4">

        <div class="text-center mb-3">
            <div class="icon-circle">⚙</div>
            <h4 class="fw-semibold" th:text="${title}">Auth</h4>
        </div>

        <!-- This will insert content from calling page -->
        <div th:insert="~{::content}"></div>

        <hr>

        <p class="text-center footer-text">
            Use the seeded admin if you need a quick admin account
        </p>

    </div>

</div>